<footer>
    <hr>
    <div class="row">
    </div>
    <div class="container mt-2 mb-4">
        <div class="row">
            <div class="col-6">
                <span class=" font-bold">Jhon Morales/></span>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a href="#"><i class="fa fa-facebook color-primary mr-2"></i></a>
                <a href="#"><i class="fa fa-instagram color-primary mr-2"></i></a>
                <a href="#"><i class="fa fa-linkedin color-primary"></i></a>
            </div>
        </div>
    </div>
</footer>
