<section>
    <div class="container mt-3 p-4">
        <div class="row">
            <div class="col-sm-5 p-0">
                <div class="main-photo"></div>
            </div>
            <div class="col-sm-7 align-horizontal-center">
                <div class="home-container">
                    <div class="home-row">
                        <h1>I develop <span class="color-primary">Web Applications</span> based on your needs. </h1>
                        <div>
                            I'm Jhon, {{calculateYear(1999)}} years old developer from Manila. I've dedicated myself to develop different web applications for already {{calculateYear(2019)}} years now.
                            <br>
                            <a href="#" class="btn btn-primary mt-3 mr-3"><i class="fa fa-phone"></i> Contact Me</a>
                            <a href="#" class="btn btn-primary mt-3"><i class="fa fa-line-chart"></i> View Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card border-left-primary" style="width: 15rem;">
                    <div class="card-body">
                      <h1 class="card-title color-primary mb-1">5</h1>
                      <span class="card-title text-center font-bold">Projects</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-primary" style="width: 15rem;">
                    <div class="card-body">
                      <h1 class="card-title color-primary mb-1">1</h1>
                      <span class="card-title text-center font-bold">Client</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-primary" style="width: 15rem;">
                    <div class="card-body">
                      <h1 class="card-title color-primary mb-1">20</h1>
                      <span class="card-title text-center font-bold">Projects</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-sm-6">
                <span class="color-primary font-bold">Why Me</span>
                <h2 class="mt-2 mb-2">Why You Should Consider Hiring Me On Your Next <span class="color-primary">Project?</span></h2>
                <span>I'm already exposed with different systems acrossed my career and I learned a lot in handling those systems using different tech stacks that may also help your business.</span>
                <br>
                <a href="#" class="btn btn-primary mt-3 mr-3"><i class="fa fa-phone"></i> Contact Me</a>
            </div>
            <div class="col-sm-6">
                <span class="color-primary font-bold">Services</span>
                <div class="row mt-3">
                    <div class="col-sm-6 mt-3">
                        <h5><i class="fa fa-mobile color-primary"></i><span class="ml-2">Frontend</span></h5>
                        <p>Create front-end websites based on your taste and design.</p>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <h5><i class="fa fa-database color-primary"></i><span class="ml-2">Backend</span></h5>
                        <p>Handle and optimize backend request from your database.</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6 mt-3">
                        <h5><i class="fa fa-globe color-primary"></i><span class="ml-2">API Integration</span></h5>
                        <p>Automate and create API request from your backend to easily handle your request.</p>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <h5><i class="fa fa-laptop color-primary"></i><span class="ml-2">Windows Applications</span></h5>
                        <p>Create desktop applications using C# and .Net Framework with WPF and Winforms</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <h5><i class="fa fa-pencil color-primary"></i><span class="ml-2">Graphics Design</span></h5>
                        <p>Help out with your project in generating graphics design ideas using Adobe Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-start">
            <div class="col-sm-6">
                <span class="color-primary font-bold">Recent Projects</span>
           </div>
        </div>
    </div>
</section>